<div class="container">
  <div class="row">
    <div class="col mb-3">
      <label class="form-label">Nome:</label>
      <input type="text" class="form-control" #nome>
    </div>
  </div>
  <button type="button" class="btn btn-primary" (click)="adicionar(nome.value); nome.value = ''">Adicionar</button>

  <div class="row">
    <div class="col mb-3">
      <table class="table">
        <thead>
          <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cidade of cidades">
            <td>{{ cidade.id }}</td>
            <td>
              <input type="text" class="form-control" [(ngModel)]="cidade.nome">
            </td>
            <td>
              <button type="button" class="btn btn-warning me-2" (click)="alterar(cidade)">Alterar</button>
              <button type="button" class="btn btn-danger" (click)="excluir(cidade.id)">Excluir</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
